#footer_section{
    background-color: #242329;
    // position: fixed;
    // left:0;
    // right:0;
    // bottom: 0;
    padding: 20px;
    // height: 200px;

}

#preFooter{
    border-top: 1px solid #fcfcfc;
}

.footerbottomleftside{
    display: flex;
}
.footersmalltext{
    flex: 0 0 auto;
    font-size: 1vw;
    font-weight: 600;
    padding-top: 20px;
    font-family: Whyte, sans-serif;
}

.termcondblock{
    display: flex;
    width: 22vw;
    margin-left: 11vw;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-size: 0.8vw;
}

.footerlink{
    flex: 0 0 auto;
    color: #fcfcfc;
    font-size: 1vw;
    text-transform: uppercase;
    padding-top: 20px;
}

input.subscribebutton.w-button{
    background-color: #e9b3bd;
    border: 0px;
    padding-left: 6px;
    margin-left: 10px;
    height: 34px;
    border-radius: 2px;
    padding: 5px;
}

input#name-2.text-field.w-input{
    height: 34px;
    border: 0px;
    border-radius: 2px;
    padding: 5px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
}

.col-lg-4.logo{
    margin-left: -64px;
}


.col-lg-4.contactUsForm{
    margin-left: 70px;
}

.col-lg-4.socials{
    margin-left: 206px;
}


