#middle {
    clear: both;
    margin: 0px 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    background: none repeat scroll 0 0 rgb(86, 88, 88);
    border-bottom: 1px solid rgb(221, 221, 221);
}

h2{
    text-align: center;
    font-weight: lighter;
    color: #FFFFFF;
    font-size: 3rem;
}

p{
    text-align: center;
    color: #8c8989;
}

#check_url{
    width:1000px; 
    margin: 0px auto 0px auto; 
    background-color:#FFFFFF;
}

    span.toolstext {
        color: #FFFFFF;
        font-family: ZohoPuvi, Arial, Helvetica, sans-serif;
        font-size: 27px;
        line-height: 24px;
        margin-bottom: 10px;
        padding-top: 10px;
        text-align: left;
        font-weight: 800;
        letter-spacing: 0.1px;
        margin-left: 35px;
    }

    element.style {
        padding-left: 5px;
    }
    
    .host_name {
        color: #888;
        font-size: 18px;
        font-weight: 300;
        height: 52px;
        margin-bottom: 6px;
        margin-top: 6px;
        text-align: left;
        margin-left: 35px;
        width: 500px;
        border-radius: 3px;
    }

    .Signup.btn.btn-success{
        margin-bottom: 6px;
        margin-left: 35px;
    }
