.navbar{
    height: 62px;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.Signup.btn.btn-success{
    height: auto;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 10px 19px;
    display: flex;
    align-items: center;
    background-color: #242329;
    border: none;
}
.nav-item1{
    font-size: 17px;
    font-weight: normal;
    padding-top: 5px;

}
.nav-link.nav-link:hover{
    color: #242329;
}
.profile{
    width: 50px;
    margin-left: 10px;
}
