.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.Signup.btn.btn-success{
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    padding: 10px 19px;
    display: flex;
    align-items: center;
    background-color: #83b633;
    border: none;
}
.nav-item1{
    font-size: 17px;
    font-weight: normal;

}
.nav-link.nav-link:hover{
    color: #83b633;
}

